<h1 id="pesquisa-bibliografica-gliomas-de-baixo-grau">Pesquisa bibliográfica: gliomas de baixo grau</h1>
<p>Uma estratégia de busca no pubmed.gov pode ser compartilhada de uma série de maneiras diferentes. Uma das mais simples é simplesmente referir as palavras chave usadas na janela de busca da página. Por exemplo, no caso da pesquisa relatada nesta postagem:</p>
<pre><code>low-grade glioma NOT medulloblastoma NOT high-grade</code></pre>
<p>No entanto, no nosso caso, apenas as palavras chave não são suficientes, pois a busca foi realizada com alguns filtros ativados. Dessa forma, é necessário declarar os filtros que foram utilizados para que a busca possa ser entendida e reproduzida.</p>
<pre><code>Filters activated: Clinical Trial, Observational Study, Systematic Reviews, published in the last 10 years, Child: birth-18 years.</code></pre>
<p>Pronto! Estas são informações quase completas para permitir a compreensão e a reprodução da estratégia de busca utilizada. Falta apenas a data da busca, no caso, a data desta postagem.</p>
<p>Uma outra forma de obter a mesma informação, porém em uma linha apenas, é copiar o transcrito da estratégia de busca. Este pode ser encontrado na janela <code>Search details</code> na página de resultados, coluna lateral. No caso de nossa busca, o transcrito fica assim:</p>
<pre><code>(low-grade[All Fields] AND (&quot;glioma&quot;[MeSH Terms] OR &quot;glioma&quot;[All Fields])) NOT (&quot;medulloblastoma&quot;[MeSH Terms] OR &quot;medulloblastoma&quot;[All Fields]) NOT high-grade[All Fields] AND ((Clinical Trial[ptyp] OR Observational Study[ptyp] OR systematic[sb]) AND &quot;2007/04/03&quot;[PDat] : &quot;2017/03/30&quot;[PDat] AND (&quot;infant&quot;[MeSH Terms] OR &quot;child&quot;[MeSH Terms] OR &quot;adolescent&quot;[MeSH Terms])</code></pre>
<p>Esse código pode ser usado para reproduzir a busca em qualquer momento, reunindo todas as informações anteriormente fornecidas, incluindo as datas relevantes. Se clicarmos em <code>see more</code>, logo abaixo de <em>search details</em>, seremos levados para uma página onde encontramos o transcrito já exposto. Abaixo desta janela, existe um botão <em>URL</em>. Após clicarmos nesse botão, iremos para uma página gerada pela busca com o transcrito, cujo url pode ser copiado e compartilhado. No nosso caso, fica assim:</p>
<pre><code>https://www.ncbi.nlm.nih.gov/pubmed?term=%28low-grade%5BAll%20Fields%5D%20AND%20%28%22glioma%22%5BMeSH%20Terms%5D%20OR%20%22glioma%22%5BAll%20Fields%5D%29%29%20NOT%20%28%22medulloblastoma%22%5BMeSH%20Terms%5D%20OR%20%22medulloblastoma%22%5BAll%20Fields%5D%29%20NOT%20high-grade%5BAll%20Fields%5D%20AND%20%28%28Clinical%20Trial%5Bptyp%5D%20OR%20Observational%20Study%5Bptyp%5D%20OR%20systematic%5Bsb%5D%29%20AND%20%222007/04/03%22%5BPDat%5D%20%3A%20%222017/03/30%22%5BPDat%5D%20AND%20%28%22infant%22%5BMeSH%20Terms%5D%20OR%20%22child%22%5BMeSH%20Terms%5D%20OR%20%22adolescent%22%5BMeSH%20Terms%5D%29%29&amp;cmd=DetailsSearch</code></pre>
<p>Essa url é mais uma forma de compartilhar a estratégia de busca, e copiada em qualquer navegador, irá gerar a mesma página de busca que nós conseguimos no início.</p>
<p>Finalmente, uma forma mais direta e completa de compartilhar a busca é simplesmente listar os resultados da busca, conseguidos através da opção de mostrar o sumário da busca em formato .txt</p>
<p>1: Ater JL, Xia C, Mazewski CM, Booth TN, Freyer DR, Packer RJ, Sposto R, Vezina<br />
G, Pollack IF. Nonrandomized comparison of neurofibromatosis type 1 and<br />
non-neurofibromatosis type 1 children who received carboplatin and vincristine<br />
for progressive low-grade glioma: A report from the Children's Oncology Group.<br />
Cancer. 2016 Jun 15;122(12):1928-36. doi: 10.1002/cncr.29987. Epub 2016 Apr 8.<br />
PubMed PMID: 27061921; PubMed Central PMCID: PMC4892942.</p>
<p>2: Bandopadhayay P, Ramkissoon LA, Jain P, Bergthold G, Wala J, Zeid R,<br />
Schumacher SE, Urbanski L, O'Rourke R, Gibson WJ, Pelton K, Ramkissoon SH, Han<br />
HJ, Zhu Y, Choudhari N, Silva A, Boucher K, Henn RE, Kang YJ, Knoff D, Paolella<br />
BR, Gladden-Young A, Varlet P, Pages M, Horowitz PM, Federation A, Malkin H,<br />
Tracy AA, Seepo S, Ducar M, Van Hummelen P, Santi M, Buccoliero AM, Scagnet M,<br />
Bowers DC, Giannini C, Puget S, Hawkins C, Tabori U, Klekner A, Bognar L, Burger<br />
PC, Eberhart C, Rodriguez FJ, Hill DA, Mueller S, Haas-Kogan DA, Phillips JJ,<br />
Santagata S, Stiles CD, Bradner JE, Jabado N, Goren A, Grill J, Ligon AH,<br />
Goumnerova L, Waanders AJ, Storm PB, Kieran MW, Ligon KL, Beroukhim R, Resnick<br />
AC. MYB-QKI rearrangements in angiocentric glioma drive tumorigenicity through a<br />
tripartite mechanism. Nat Genet. 2016 Mar;48(3):273-82. doi: 10.1038/ng.3500.<br />
Epub 2016 Feb 1. PubMed PMID: 26829751; PubMed Central PMCID: PMC4767685.</p>
<p>3: Ampie L, Choy W, DiDomenico JD, Lamano JB, Williams CK, Kesavabhotla K, Mao Q,<br />
Bloch O. Clinical attributes and surgical outcomes of angiocentric gliomas. J<br />
Clin Neurosci. 2016 Jun;28:117-22. doi: 10.1016/j.jocn.2015.11.015. Epub 2016 Jan</p>
<ol>
<li>PubMed PMID: 26778052.</li>
</ol>
<p>4: Falsini B, Chiaretti A, Rizzo D, Piccardi M, Ruggiero A, Manni L, Soligo M,<br />
Dickmann A, Federici M, Salerni A, Timelli L, Guglielmi G, Lazzareschi I,<br />
Caldarelli M, Galli-Resta L, Colosimo C, Riccardi R. Nerve growth factor improves<br />
visual loss in childhood optic gliomas: a randomized, double-blind, phase II<br />
clinical trial. Brain. 2016 Feb;139(Pt 2):404-14. doi: 10.1093/brain/awv366. Epub<br />
2016 Jan 14. PubMed PMID: 26767384.</p>
<p>5: de Blank PM, Berman JI, Fisher MJ. Systemic Chemotherapy and White Matter<br />
Integrity in Tracts Associated with Cognition Among Children With<br />
Neurofibromatosis Type 1. Pediatr Blood Cancer. 2016 May;63(5):818-24. doi:<br />
10.1002/pbc.25896. Epub 2016 Jan 12. PubMed PMID: 26757156.</p>
<p>6: Meguins LC, Adry RA, Silva Júnior SC, Pereira CU, Oliveira JG, Morais DF,<br />
Araújo Filho GM, Marques LH. Gross-total resection of temporal low grade gliomas<br />
is a critically important factor in achieving seizure-freedom. Arq<br />
Neuropsiquiatr. 2015 Nov;73(11):924-8. doi: 10.1590/0004-282X20150141. Epub 2015<br />
Oct 6. PubMed PMID: 26517215.</p>
<p>7: Fallah A, Weil AG, Sur S, Miller I, Jayakar P, Morrison G, Bhatia S, Ragheb J.<br />
Epilepsy surgery related to pediatric brain tumors: Miami Children's Hospital<br />
experience. J Neurosurg Pediatr. 2015 Dec;16(6):675-80. doi:<br />
10.3171/2015.4.PEDS14476. Epub 2015 Sep 4. PubMed PMID: 26339959.</p>
<p>8: Willard VW, Conklin HM, Wu S, Merchant TE. Prospective longitudinal evaluation<br />
of emotional and behavioral functioning in pediatric patients with low-grade<br />
glioma treated with conformal radiation therapy. J Neurooncol. 2015<br />
Mar;122(1):161-8. doi: 10.1007/s11060-014-1696-7. Epub 2015 Jan 9. PubMed PMID:<br />
25573605; PubMed Central PMCID: PMC4654414.</p>
<p>9: Eaton BR, Yock T. The use of proton therapy in the treatment of benign or<br />
low-grade pediatric brain tumors. Cancer J. 2014 Nov-Dec;20(6):403-8. doi:<br />
10.1097/PPO.0000000000000079. Review. PubMed PMID: 25415686.</p>
<p>10: Cappellano AM, Petrilli AS, da Silva NS, Silva FA, Paiva PM, Cavalheiro S,<br />
Bouffet E. Single agent vinorelbine in pediatric patients with progressive optic<br />
pathway glioma. J Neurooncol. 2015 Jan;121(2):405-12. doi:<br />
10.1007/s11060-014-1652-6. Epub 2014 Nov 1. PubMed PMID: 25366366.</p>
<p>11: Suvà ML. Genetics and epigenetics of gliomas. Swiss Med Wkly. 2014 Oct<br />
30;144:w14018. doi: 10.4414/smw.2014.14018. eCollection 2014 Oct 30. Review.<br />
PubMed PMID: 25356909.</p>
<p>12: Kanazawa K, Matsumoto R, Imamura H, Matsuhashi M, Kikuchi T, Kunieda T,<br />
Mikuni N, Miyamoto S, Takahashi R, Ikeda A. Intracranially recorded ictal direct<br />
current shifts may precede high frequency oscillations in human epilepsy. Clin<br />
Neurophysiol. 2015 Jan;126(1):47-59. doi: 10.1016/j.clinph.2014.05.028. Epub 2014<br />
Jun 19. PubMed PMID: 25034473.</p>
<p>13: Karajannis MA, Legault G, Fisher MJ, Milla SS, Cohen KJ, Wisoff JH, Harter<br />
DH, Goldberg JD, Hochman T, Merkelson A, Bloom MC, Sievert AJ, Resnick AC, Dhall<br />
G, Jones DT, Korshunov A, Pfister SM, Eberhart CG, Zagzag D, Allen JC. Phase II<br />
study of sorafenib in children with recurrent or progressive low-grade<br />
astrocytomas. Neuro Oncol. 2014 Oct;16(10):1408-16. doi: 10.1093/neuonc/nou059.<br />
Epub 2014 May 6. PubMed PMID: 24803676; PubMed Central PMCID: PMC4165419.</p>
<p>14: Bandopadhayay P, Bergthold G, London WB, Goumnerova LC, Morales La Madrid A,<br />
Marcus KJ, Guo D, Ullrich NJ, Robison NJ, Chi SN, Beroukhim R, Kieran MW, Manley<br />
PE. Long-term outcome of 4,040 children diagnosed with pediatric low-grade<br />
gliomas: an analysis of the Surveillance Epidemiology and End Results (SEER)<br />
database. Pediatr Blood Cancer. 2014 Jul;61(7):1173-9. doi: 10.1002/pbc.24958.<br />
Epub 2014 Jan 30. PubMed PMID: 24482038; PubMed Central PMCID: PMC4657506.</p>
<p>15: Kaloshi G, Rroji A, Petrela M. Upfront chemotherapy with CCNU alone for<br />
adults' low-grade gliomas: a clinical analysis. J Neurooncol. 2014<br />
Apr;117(2):373-4. doi: 10.1007/s11060-014-1383-8. Epub 2014 Jan 29. PubMed PMID:</p>
<ol>
<li></li>
</ol>
<p>16: Legault G, Kieran MW, Scott RM, Chordas C, Milla SS, Karajannis MA. Recurrent<br />
ascites in a patient with low-grade astrocytoma and ventriculo-peritoneal shunt<br />
treated with the multikinase inhibitor sorafenib. J Pediatr Hematol Oncol. 2014<br />
Nov;36(8):e533-5. doi: 10.1097/MPH.0000000000000094. PubMed PMID: 24351969.</p>
<p>17: Gorlia T, Wu W, Wang M, Baumert BG, Mehta M, Buckner JC, Shaw E, Brown P,<br />
Stupp R, Galanis E, Lacombe D, van den Bent MJ. New validated prognostic models<br />
and prognostic calculators in patients with low-grade gliomas diagnosed by<br />
central pathology review: a pooled analysis of EORTC/RTOG/NCCTG phase III<br />
clinical trials. Neuro Oncol. 2013 Nov;15(11):1568-79. doi:<br />
10.1093/neuonc/not117. Epub 2013 Sep 18. PubMed PMID: 24049111; PubMed Central<br />
PMCID: PMC3813419.</p>
<p>18: You G, Feng L, Yan W, Zhang W, Wang YZ, Li SW, Li SW, Li GL, Song YJ, Kang<br />
CS, You YP, Jiang T. BCL2A1 is a potential biomarker for postoperative seizure<br />
control in patients with low-grade gliomas. CNS Neurosci Ther. 2013<br />
Nov;19(11):882-8. doi: 10.1111/cns.12148. Epub 2013 Jul 10. PubMed PMID:</p>
<ol>
<li></li>
</ol>
<p>19: Müller K, Gnekow A, Falkenstein F, Scheiderbauer J, Zwiener I, Pietsch T,<br />
Warmuth-Metz M, Voges J, Nikkhah G, Flentje M, Combs SE, Vordermark D, Kocher M,<br />
Kortmann RD. Radiotherapy in pediatric pilocytic astrocytomas. A subgroup<br />
analysis within the prospective multicenter study HIT-LGG 1996 by the German<br />
Society of Pediatric Oncology and Hematology (GPOH). Strahlenther Onkol. 2013<br />
Aug;189(8):647-55. doi: 10.1007/s00066-013-0357-7. Epub 2013 Jul 7. PubMed PMID:</p>
<ol>
<li></li>
</ol>
<p>20: Yang P, Wang Y, Peng X, You G, Zhang W, Yan W, Bao Z, Wang Y, Qiu X, Jiang T.<br />
Management and survival rates in patients with glioma in China (2004-2010): a<br />
retrospective study from a single-institution. J Neurooncol. 2013<br />
Jun;113(2):259-66. doi: 10.1007/s11060-013-1103-9. Epub 2013 Mar 13. PubMed PMID:</p>
<ol>
<li></li>
</ol>
<p>21: Maquilan G, Grover S, Alonso-Basanta M, Lustig RA. Acute toxicity profile of<br />
patients with low-grade gliomas and meningiomas receiving proton therapy. Am J<br />
Clin Oncol. 2014 Oct;37(5):438-43. doi: 10.1097/COC.0b013e31827de86b. PubMed<br />
PMID: 23388559.</p>
<p>22: Netson KL, Conklin HM, Wu S, Xiong X, Merchant TE. Longitudinal investigation<br />
of adaptive functioning following conformal irradiation for pediatric<br />
craniopharyngioma and low-grade glioma. Int J Radiat Oncol Biol Phys. 2013 Apr<br />
1;85(5):1301-6. doi: 10.1016/j.ijrobp.2012.10.031. Epub 2012 Dec 11. PubMed PMID:<br />
23245284; PubMed Central PMCID: PMC3685870.</p>
<p>23: Shaw EG, Wang M, Coons SW, Brachman DG, Buckner JC, Stelzer KJ, Barger GR,<br />
Brown PD, Gilbert MR, Mehta MP. Randomized trial of radiation therapy plus<br />
procarbazine, lomustine, and vincristine chemotherapy for supratentorial adult<br />
low-grade glioma: initial results of RTOG 9802. J Clin Oncol. 2012 Sep<br />
1;30(25):3065-70. doi: 10.1200/JCO.2011.35.8598. Epub 2012 Jul 30. PubMed PMID:<br />
22851558; PubMed Central PMCID: PMC3732006.</p>
<p>24: Ater JL, Zhou T, Holmes E, Mazewski CM, Booth TN, Freyer DR, Lazarus KH,<br />
Packer RJ, Prados M, Sposto R, Vezina G, Wisoff JH, Pollack IF. Randomized study<br />
of two chemotherapy regimens for treatment of low-grade glioma in young children:<br />
a report from the Children's Oncology Group. J Clin Oncol. 2012 Jul<br />
20;30(21):2641-7. doi: 10.1200/JCO.2011.36.6054. Epub 2012 Jun 4. PubMed PMID:<br />
22665535; PubMed Central PMCID: PMC3413276.</p>
<p>25: Hua C, Wu S, Chemaitilly W, Lukose RC, Merchant TE. Predicting the<br />
probability of abnormal stimulated growth hormone response in children after<br />
radiotherapy for brain tumors. Int J Radiat Oncol Biol Phys. 2012 Nov<br />
15;84(4):990-5. doi: 10.1016/j.ijrobp.2012.01.049. Epub 2012 Apr 6. PubMed PMID:<br />
22483696; PubMed Central PMCID: PMC3554243.</p>
<p>26: Yalon M, Rood B, MacDonald TJ, McCowage G, Kane R, Constantini S, Packer RJ.<br />
A feasibility and efficacy study of rapamycin and erlotinib for recurrent<br />
pediatric low-grade glioma (LGG). Pediatr Blood Cancer. 2013 Jan;60(1):71-6. doi:<br />
10.1002/pbc.24142. Epub 2012 Mar 20. PubMed PMID: 22434731.</p>
<p>27: Bouffet E, Jakacki R, Goldman S, Hargrave D, Hawkins C, Shroff M, Hukin J,<br />
Bartels U, Foreman N, Kellie S, Hilden J, Etzl M, Wilson B, Stephens D, Tabori U,<br />
Baruchel S. Phase II study of weekly vinblastine in recurrent or refractory<br />
pediatric low-grade glioma. J Clin Oncol. 2012 Apr 20;30(12):1358-63. doi:<br />
10.1200/JCO.2011.34.5843. Epub 2012 Mar 5. PubMed PMID: 22393086.</p>
<p>28: Yavas C, Zorlu F, Ozyigit G, Gurkaynak M, Yavas G, Yuce D, Cengiz M, Yildiz<br />
F, Akyol F. Prospective assessment of health-related quality of life in patients<br />
with low-grade glioma: a single-center experience. Support Care Cancer. 2012<br />
Aug;20(8):1859-68. doi: 10.1007/s00520-011-1288-4. Epub 2011 Oct 8. PubMed PMID:</p>
<ol>
<li></li>
</ol>
<p>29: Jung TY, Jung S, Moon JH, Kim IY, Moon KS, Jang WY. Early prognostic factors<br />
related to progression and malignant transformation of low-grade gliomas. Clin<br />
Neurol Neurosurg. 2011 Nov;113(9):752-7. doi: 10.1016/j.clineuro.2011.08.002.<br />
Epub 2011 Sep 1. PubMed PMID: 21889256.</p>
<p>30: Suchorska B, Ruge M, Treuer H, Sturm V, Voges J. Stereotactic brachytherapy<br />
of low-grade cerebral glioma after tumor resection. Neuro Oncol. 2011<br />
Oct;13(10):1133-42. doi: 10.1093/neuonc/nor100. Epub 2011 Aug 25. PubMed PMID:<br />
21868412; PubMed Central PMCID: PMC3177661.</p>
<p>31: Turaka K, Shields CL, Meadows AT, Leahey A. Second malignant neoplasms<br />
following chemoreduction with carboplatin, etoposide, and vincristine in 245<br />
patients with intraocular retinoblastoma. Pediatr Blood Cancer. 2012 Jul<br />
15;59(1):121-5. doi: 10.1002/pbc.23278. Epub 2011 Aug 8. PubMed PMID: 21826785.</p>
<p>32: Jakacki RI, Bouffet E, Adamson PC, Pollack IF, Ingle AM, Voss SD, Blaney SM.<br />
A phase 1 study of vinblastine in combination with carboplatin for children with<br />
low-grade gliomas: a Children's Oncology Group phase 1 consortium study. Neuro<br />
Oncol. 2011 Aug;13(8):910-5. doi: 10.1093/neuonc/nor090. Epub 2011 Jul 15. PubMed<br />
PMID: 21764821; PubMed Central PMCID: PMC3145477.</p>
<p>33: Scheinemann K, Bartels U, Tsangaris E, Hawkins C, Huang A, Dirks P, Fried I,<br />
Bouffet E, Tabori U. Feasibility and efficacy of repeated chemotherapy for<br />
progressive pediatric low-grade gliomas. Pediatr Blood Cancer. 2011 Jul<br />
15;57(1):84-8. doi: 10.1002/pbc.22917. Epub 2010 Dec 1. PubMed PMID: 21557457.</p>
<p>34: Daniels TB, Brown PD, Felten SJ, Wu W, Buckner JC, Arusell RM, Curran WJ,<br />
Abrams RA, Schiff D, Shaw EG. Validation of EORTC prognostic factors for adults<br />
with low-grade glioma: a report using intergroup 86-72-51. Int J Radiat Oncol<br />
Biol Phys. 2011 Sep 1;81(1):218-24. doi: 10.1016/j.ijrobp.2010.05.003. Epub 2011<br />
May 5. PubMed PMID: 21549518; PubMed Central PMCID: PMC3151343.</p>
<p>35: Englot DJ, Berger MS, Barbaro NM, Chang EF. Predictors of seizure freedom<br />
after resection of supratentorial low-grade gliomas. A review. J Neurosurg. 2011<br />
Aug;115(2):240-4. doi: 10.3171/2011.3.JNS1153. Epub 2011 Apr 29. Review. PubMed<br />
PMID: 21529134.</p>
<p>36: Falsini B, Chiaretti A, Barone G, Piccardi M, Pierri F, Colosimo C,<br />
Lazzareschi I, Ruggiero A, Parisi V, Fadda A, Balestrazzi E, Riccardi R. Topical<br />
nerve growth factor as a visual rescue strategy in pediatric optic gliomas: a<br />
pilot study including electrophysiology. Neurorehabil Neural Repair. 2011<br />
Jul-Aug;25(6):512-20. doi: 10.1177/1545968310397201. Epub 2011 Mar 26. PubMed<br />
PMID: 21444653.</p>
<p>37: Wisoff JH, Sanford RA, Heier LA, Sposto R, Burger PC, Yates AJ, Holmes EJ,<br />
Kun LE. Primary neurosurgery for pediatric low-grade gliomas: a prospective<br />
multi-institutional study from the Children's Oncology Group. Neurosurgery. 2011<br />
Jun;68(6):1548-54; discussion 1554-5. doi: 10.1227/NEU.0b013e318214a66e. PubMed<br />
PMID: 21368693.</p>
<p>38: Warren KE, Goldman S, Pollack IF, Fangusaro J, Schaiquevich P, Stewart CF,<br />
Wallace D, Blaney SM, Packer R, Macdonald T, Jakacki R, Boyett JM, Kun LE. Phase<br />
I trial of lenalidomide in pediatric patients with recurrent, refractory, or<br />
progressive primary CNS tumors: Pediatric Brain Tumor Consortium study PBTC-018.<br />
J Clin Oncol. 2011 Jan 20;29(3):324-9. doi: 10.1200/JCO.2010.31.3601. Epub 2010<br />
Dec 13. PubMed PMID: 21149652; PubMed Central PMCID: PMC3056466.</p>
<p>39: Beaty O 3rd, Berg S, Blaney S, Malogolowkin M, Krailo M, Knight R,<br />
Schaiquevich P, Stewart C, Chen Z, Nelson M, Voss S, Ivy SP, Adamson PC. A phase<br />
II trial and pharmacokinetic study of oxaliplatin in children with refractory<br />
solid tumors: a Children's Oncology Group study. Pediatr Blood Cancer. 2010<br />
Sep;55(3):440-5. doi: 10.1002/pbc.22544. PubMed PMID: 20658614; PubMed Central<br />
PMCID: PMC4665115.</p>
<p>40: Moreno L, Bautista F, Ashley S, Duncan C, Zacharoulis S. Does chemotherapy<br />
affect the visual outcome in children with optic pathway glioma? A systematic<br />
review of the evidence. Eur J Cancer. 2010 Aug;46(12):2253-9. doi:<br />
10.1016/j.ejca.2010.03.028. Epub 2010 Apr 17. Review. PubMed PMID: 20400294.</p>
<p>41: Hernáiz Driever P, von Hornstein S, Pietsch T, Kortmann R, Warmuth-Metz M,<br />
Emser A, Gnekow AK. Natural history and management of low-grade glioma in NF-1<br />
children. J Neurooncol. 2010 Nov;100(2):199-207. doi: 10.1007/s11060-010-0159-z.<br />
Epub 2010 Mar 30. PubMed PMID: 20352473.</p>
<p>42: Mishra KK, Squire S, Lamborn K, Banerjee A, Gupta N, Wara WM, Prados MD,<br />
Berger MS, Haas-Kogan DA. Phase II TPDCV protocol for pediatric low-grade<br />
hypothalamic/chiasmatic gliomas: 15-year update. J Neurooncol. 2010<br />
Oct;100(1):121-7. doi: 10.1007/s11060-010-0151-7. Epub 2010 Mar 11. PubMed PMID:<br />
20221671; PubMed Central PMCID: PMC2951507.</p>
<p>43: Massimino M, Spreafico F, Riva D, Biassoni V, Poggi G, Solero C, Gandola L,<br />
Genitori L, Modena P, Simonetti F, Potepan P, Casanova M, Meazza C, Clerici CA,<br />
Catania S, Sardi I, Giangaspero F. A lower-dose, lower-toxicity<br />
cisplatin-etoposide regimen for childhood progressive low-grade glioma. J<br />
Neurooncol. 2010 Oct;100(1):65-71. doi: 10.1007/s11060-010-0136-6. Epub 2010 Feb</p>
<ol>
<li>PubMed PMID: 20151174.</li>
</ol>
<p>44: Tsai MH, Wong AM, Jaing TH, Wang HS, Hsueh C, Wu CT. Treatment of<br />
cerebellopontine angle tumors in children: a single institution's experience. J<br />
Pediatr Hematol Oncol. 2009 Nov;31(11):832-4. doi: 10.1097/MPH.0b013e3181acd842.<br />
PubMed PMID: 19636269.</p>
<p>45: Merchant TE, Kun LE, Wu S, Xiong X, Sanford RA, Boop FA. Phase II trial of<br />
conformal radiation therapy for pediatric low-grade glioma. J Clin Oncol. 2009<br />
Aug 1;27(22):3598-604. doi: 10.1200/JCO.2008.20.9494. Epub 2009 Jul 6. PubMed<br />
PMID: 19581536; PubMed Central PMCID: PMC3525947.</p>
<p>46: Merchant TE, Conklin HM, Wu S, Lustig RH, Xiong X. Late effects of conformal<br />
radiation therapy for pediatric patients with low-grade glioma: prospective<br />
evaluation of cognitive, endocrine, and hearing deficits. J Clin Oncol. 2009 Aug<br />
1;27(22):3691-7. doi: 10.1200/JCO.2008.21.2738. Epub 2009 Jul 6. PubMed PMID:<br />
19581535; PubMed Central PMCID: PMC2799064.</p>
<p>47: Samdani AF, Torre-Healy A, Khalessi A, McGirt M, Jallo GI, Carson B.<br />
Intraventricular ganglioglioma: a short illustrated review. Acta Neurochir<br />
(Wien). 2009 Jun;151(6):635-40. doi: 10.1007/s00701-009-0246-0. Epub 2009 Mar 17.<br />
Review. PubMed PMID: 19290468.</p>
<p>48: Sangoi AR, Dulai MS, Beck AH, Brat DJ, Vogel H. Distinguishing chordoid<br />
meningiomas from their histologic mimics: an immunohistochemical evaluation. Am J<br />
Surg Pathol. 2009 May;33(5):669-81. doi: 10.1097/PAS.0b013e318194c566. PubMed<br />
PMID: 19194275; PubMed Central PMCID: PMC4847145.</p>
<p>49: Shaw EG, Berkey B, Coons SW, Bullard D, Brachman D, Buckner JC, Stelzer KJ,<br />
Barger GR, Brown PD, Gilbert MR, Mehta M. Recurrence following<br />
neurosurgeon-determined gross-total resection of adult supratentorial low-grade<br />
glioma: results of a prospective clinical trial. J Neurosurg. 2008<br />
Nov;109(5):835-41. doi: 10.3171/JNS/2008/109/11/0835. PubMed PMID: 18976072;<br />
PubMed Central PMCID: PMC3833272.</p>
<p>50: Jalali R, Dutta D, Kamble R, Gupta T, Munshi A, Sarin R, Dinshaw K.<br />
Prospective assessment of activities of daily living using modified Barthel's<br />
Index in children and young adults with low-grade gliomas treated with<br />
stereotactic conformal radiotherapy. J Neurooncol. 2008 Dec;90(3):321-8. doi:<br />
10.1007/s11060-008-9666-6. Epub 2008 Aug 14. PubMed PMID: 18704269.</p>
<p>51: Wentworth S, Pinn M, Bourland JD, Deguzman AF, Ekstrand K, Ellis TL, Glazier<br />
SS, McMullen KP, Munley M, Stieber VW, Tatter SB, Shaw EG. Clinical experience<br />
with radiation therapy in the management of neurofibromatosis-associated central<br />
nervous system tumors. Int J Radiat Oncol Biol Phys. 2009 Jan 1;73(1):208-13.<br />
doi: 10.1016/j.ijrobp.2008.03.073. Epub 2008 Aug 5. PubMed PMID: 18687535.</p>
<p>52: Combs SE, Bischof M, Welzel T, Hof H, Oertel S, Debus J, Schulz-Ertner D.<br />
Radiochemotherapy with temozolomide as re-irradiation using high precision<br />
fractionated stereotactic radiotherapy (FSRT) in patients with recurrent gliomas.<br />
J Neurooncol. 2008 Sep;89(2):205-10. doi: 10.1007/s11060-008-9607-4. Epub 2008<br />
May 7. PubMed PMID: 18461281.</p>
<p>53: Bruggers CS, Greene D. A phase 2 feasibility study of sequential, dose<br />
intensive chemotherapy to treat progressive low-grade gliomas in children. J<br />
Pediatr Hematol Oncol. 2007 Sep;29(9):602-7. PubMed PMID: 17805033.</p>
<p>54: Ishikawa E, Tsuboi K, Yamamoto T, Muroi A, Takano S, Enomoto T, Matsumura A,<br />
Ohno T. Clinical trial of autologous formalin-fixed tumor vaccine for<br />
glioblastoma multiforme patients. Cancer Sci. 2007 Aug;98(8):1226-33. Epub 2007<br />
May 22. PubMed PMID: 17517052.</p>
