<p><a href="http://estrabd.github.io/vee/">Vee</a> é um bash script mínimo capaz de converter
arquivos de texto numa página estática em HTML, no formato de um blog. Seu uso é
extremamente simples.</p>
<p>Inicialmente, fiz um fork do <a href="https://github.com/estrabd/vee">repositório</a> do GitHub
e clonei para o diretório onde criei a página. Apenas o arquivo executável <code>/bin/vee</code>
é necessário para rodar o programa em linux ou macOS. Ele pode ser colocado ou conectado
por ligação simbólica (symlink) na pasta <code>/usr/local/bin</code>, a qual deve estar no PATH.
No caso do macOS, é necessário instalar o pacote <code>groff</code>, <a href="https://www.gnu.org/software/groff/">GNU troff</a>. Este pacote é um conversor de texto simples
e markup para formatos como HTML, PDF, PostScript ou ASCII. Ele também está disponível
para Windows. O pacote já vem pré-instalado no macOS, mas sua versão não é a mais atual
e não permite a utilização de símbolos i18n (internacionais). A melhor forma de atualizar o  <code>groff</code> no macOS é uma nova instalação com o gerenciador de pacotes <a href="http://brew.sh">Homebrew</a>, para evitar conflitos com o sistema operacional.</p>
<pre><code>  $ brew install groff</code></pre>
<p>A sintaxe é muito simples:</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash">  $ <span class="kw">vee</span> -t <span class="st">&quot;Postando com Vee&quot;</span></code></pre></div>
<p>Em seguida, uma janela do Vi(m) se abre, para digitação do texto a ser postado. Depois de
salvo, o texto será usado para criar uma página de índice, por padrão <code>vee.html</code>. Se for
usado o argumento -i &quot;minha.html&quot;, o nome do arquivo será personalizado. O argumento -I
força o índice a ser criado em <code>index.html</code>. A estrutura criada fica assim:</p>
<pre><code>  |
  |--- .vee
  |      |
  |      |--- file.raw
  |      |--- file.html
  |
  |--- index.html</code></pre>
<p>Isso funciona bem enquanto não se tenta publicar a página num servidor. Estou usando o <a href="https://gitlab.com">Gitlab</a>  para esta página. Iniciei um repositório do Git na pasta da
página e adicionei o repositório GitLab como remoto, comitando em seguida. A configuração
de páginas no Gitlab costuma ser muito simples, apenas gerando um arquivo <code>.gitlab-ci.yml</code>
com os parâmetros necessários e acrescentando os arquivos do modelo desejado no repositório.
Tive dois problemas iniciais com o Gitlab e Vee:</p>
<ul>
<li>A pasta oculta <code>.vee</code> não pode ser descoberta pelo Gitlab-CI, então tive que
renomeá-la para <code>vee</code>.</li>
<li>O nome dos arquivos gerados pelo Vee (.html e .raw) inclui um rótulo de data e hora
problemático. Também tive que renomeá-los, mudando o separador que usa símbolos não
permitidos para nomes de arquivo no Windows, por exemplo.</li>
</ul>
<p>Uma das soluções possíveis é editar o arquivo <code>.veerc</code>de configuração, que permite
editar vários parâmetros. O meu ficou assim:</p>
<div class="sourceCode"><pre class="sourceCode bash"><code class="sourceCode bash"><span class="ot">INDEX=</span>index.html
<span class="ot">EDITOR=</span>vi
<span class="ot">MARGIN=</span>64
<span class="ot">FORMAT=</span>html
<span class="ot">DIR=</span>posts
<span class="ot">DRAFT=${DIR}</span>/.vee.tmp.<span class="ot">$$</span>
<span class="ot">DATE=</span><span class="kw">`date`</span>
<span class="ot">YEAR=</span><span class="kw">`date</span> <span class="st">&quot;+%Y&quot;</span><span class="kw">`</span>
<span class="ot">TIME=</span><span class="kw">`date</span> <span class="st">&quot;+%Y-%m-%dT%H-%M-%S&quot;</span><span class="kw">`</span>
<span class="ot">DEFAULT_TITLE=</span><span class="st">&quot;Entry #</span><span class="ot">${TIME}</span><span class="st">&quot;</span>;
<span class="ot">FOOTERTXT=</span><span class="st">&quot;&quot;</span>
<span class="ot">HEADERTXT=</span><span class="st">&quot;&quot;</span>
<span class="ot">TOP_TPL=</span>./vee-top.tpl
<span class="ot">BOT_TPL=</span>./vee-bottom.tpl
<span class="ot">PUBLISHED=</span><span class="kw">`date</span> <span class="st">&quot;+%d/%m/%Y&quot;</span><span class="kw">`</span>
<span class="ot">FORMAT_FUNC=</span>with_no_formatting</code></pre></div>
<p>Assim, mudei o diretório padrão para armazenar as postagens para <code>posts</code>, mudei o <code>DEFAULT_TITLE</code>  para utilizar símbolos permitidos, deixei o elemento <code>FOOTERTXT</code>
vazio, mudei o formato da data e pedi para não usar o <code>groff</code> como formatador padrão
(para poder usar Markdown, que o groff não suporta).</p>
<p>Como queria adaptar as postagens para serem responsivas, incluí um arquivo modelo <code>vee-top.tpl</code>
com este conteúdo:</p>
<div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="dt">&lt;!DOCTYPE </span>html<span class="dt">&gt;</span>
<span class="kw">&lt;html</span><span class="ot"> xmlns=</span><span class="st">&quot;http://www.w3.org/1999/xhtml&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;meta</span><span class="ot"> http-equiv=</span><span class="st">&quot;Content-Type&quot;</span><span class="ot"> CONTENT=</span><span class="st">&quot;text/html; charset=UTF-8&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;title&gt;</span>tac | Título<span class="kw">&lt;/title&gt;</span>
    <span class="kw">&lt;meta</span><span class="ot"> name=</span><span class="st">&quot;viewport&quot;</span><span class="ot"> content=</span><span class="st">&quot;width=device-width, initial-scale=1&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;link</span><span class="ot"> rel=</span><span class="st">&quot;stylesheet&quot;</span><span class="ot"> href=</span><span class="st">&quot;http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;body</span><span class="ot"> class=</span><span class="st">&quot;container&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;header&gt;</span>
    <span class="kw">&lt;nav&gt;</span>
      <span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;../sobre/index.html&quot;</span><span class="kw">&gt;</span>[sobre]<span class="kw">&lt;/a&gt;&lt;a</span><span class="ot"> href=</span><span class="st">&quot;../index.html&quot;</span><span class="kw">&gt;</span>[principal]<span class="kw">&lt;/a&gt;</span>
    <span class="kw">&lt;/nav&gt;</span>
    <span class="kw">&lt;/header&gt;</span></code></pre></div>
<p>Como definido pelo elemento <code>TOP_TPL</code> do <code>.veerc</code>, o conteúdo deste arquivo é adicionado
<em>antes</em> da postagem, criando elementos de HTML para o cabeçalho que incluem o CSS Bootstrap 3.2.0. Também
modifiquei o cabeçalho padronizado do arquivo <code>index.html</code> para incluir a mesma menção. Para substituir
o texto padrão do rodapé, criei um arquivo <code>vee-bottom.tpl</code> com este conteúdo:</p>
    <div class="sourceCode"><pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;footer&gt;</span>
    Powered by <span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;http://www.0x743.com/vee&quot;</span><span class="kw">&gt;</span>vee<span class="kw">&lt;/a&gt;</span> - Copyright <span class="dv">&amp;copy;</span> 2006-2016
    <span class="kw">&lt;br&gt;</span>with responsive Theme by <span class="kw">&lt;a</span><span class="ot"> href=</span><span class="st">&quot;https://gitlab.com/fhcflx&quot;</span><span class="kw">&gt;</span>fhcflx<span class="kw">&lt;/a&gt;</span> using Twitter Bootstrap.
    <span class="kw">&lt;/footer&gt;</span>
  <span class="kw">&lt;/body&gt;</span>
<span class="kw">&lt;/html&gt;</span></code></pre></div>
<p>O resultado é uma página em HTML puro, sem nenhuma formatação especial (exceto o
Bootstrap), mais estático do que isso nem é possível!</p>
