<h1 id="pesquisabibliogrficagliomasdebaixograuaps2anos">Pesquisa bibliográfica: gliomas de baixo grau - após 2 anos</h1>

<p>Há dois anos atrás, descrevi formas de relatar uma estratégia de busca, de forma a permitir sua reprodução. A primeira forma de reportar estratégias de pesquisa, a mais simples, é listar suas palavras-chave (e operadores booleanos):</p>

<pre><code>low-grade glioma NOT medulloblastoma NOT high-grade
</code></pre>

<p>Juntamente com os filtros utilizados na máquina de busca usada (no caso, o Pubmed):</p>

<pre><code>Filters activated: Clinical Trial, Observational Study, Systematic Reviews, published in the last 10 years, Child: birth-18 years.
</code></pre>

<p>E, complementando, a informação da data da pesquisa (ou do intervalo de datas). Para esta reprodução dois anos depois, repeti o intervalo original.</p>

<p>A segunda forma de reportar estratégias de busca é copiar o transcrito encontrado na janela <code>Search details</code> na página de resultados, coluna lateral.</p>

<pre><code>(low-grade[All Fields] AND ("glioma"[MeSH Terms] OR "glioma"[All Fields])) NOT ("medulloblastoma"[MeSH Terms] OR "medulloblastoma"[All Fields]) NOT high-grade[All Fields] AND ((Clinical Trial[ptyp] OR Observational Study[ptyp] OR systematic[sb]) AND "2007/04/03"[PDat] : "2017/03/30"[PDat] AND ("infant"[MeSH Terms] OR "child"[MeSH Terms] OR "adolescent"[MeSH Terms])
</code></pre>

<p>A terceira forma de reportar estratégias de busca no Pubmed é copiar a URL da página gerada pela busca. No caso atual:</p>

<pre><code>https://www.ncbi.nlm.nih.gov/pubmed?term=%28low-grade%5BAll%20Fields%5D%20AND%20%28%22glioma%22%5BMeSH%20Terms%5D%20OR%20%22glioma%22%5BAll%20Fields%5D%29%29%20NOT%20%28%22medulloblastoma%22%5BMeSH%20Terms%5D%20OR%20%22medulloblastoma%22%5BAll%20Fields%5D%29%20NOT%20high-grade%5BAll%20Fields%5D%20AND%20%28%28Clinical%20Trial%5Bptyp%5D%20OR%20Observational%20Study%5Bptyp%5D%20OR%20systematic%5Bsb%5D%29%20AND%20%222007/04/03%22%5BPDat%5D%20%3A%20%222017/03/30%22%5BPDat%5D%20AND%20%28%22infant%22%5BMeSH%20Terms%5D%20OR%20%22child%22%5BMeSH%20Terms%5D%20OR%20%22adolescent%22%5BMeSH%20Terms%5D%29%29&amp;cmd=DetailsSearch
</code></pre>

<p>Teoricamente, os resultados devem ser reprodutíveis com base nestes 3 métodos.</p>

<p>Por fim, o método mais direto é listar o conteúdo da peesquisa. Neste ponto, topei com uma inconsistência ao tentar reproduzir a busca agora, após 2 anos. Confira o transcrito do resultados atual da estratégia de busca:</p>

<p>1: Patel YT, Daryani VM, Patel P, Zhou D, Fangusaro J, Carlile DJ, Martin PD,
Aarons L, Stewart CF. Population Pharmacokinetics of Selumetinib and Its
Metabolite N-desmethyl-selumetinib in Adult Patients With Advanced Solid Tumors
and Children With Low-Grade Gliomas. CPT Pharmacometrics Syst Pharmacol. 2017
May;6(5):305-314. doi: 10.1002/psp4.12175. Epub 2017 Mar 22. Erratum in: CPT
Pharmacometrics Syst Pharmacol. 2017 Oct;6(10 ):719. PubMed PMID: 28326681;
PubMed Central PMCID: PMC5445231.</p>

<p>2: Lassaletta A, Scheinemann K, Zelcer SM, Hukin J, Wilson BA, Jabado N, Carret
AS, Lafay-Cousin L, Larouche V, Hawkins CE, Pond GR, Poskitt K, Keene D, Johnston
DL, Eisenstat DD, Krishnatry R, Mistry M, Arnoldo A, Ramaswamy V, Huang A,
Bartels U, Tabori U, Bouffet E. Phase II Weekly Vinblastine for
Chemotherapy-Naïve Children With Progressive Low-Grade Glioma: A Canadian
Pediatric Brain Tumor Consortium Study. J Clin Oncol. 2016 Oct
10;34(29):3537-3543. doi: 10.1200/JCO.2016.68.1585. PubMed PMID: 27573663.</p>

<p>3: Ater JL, Xia C, Mazewski CM, Booth TN, Freyer DR, Packer RJ, Sposto R, Vezina 
G, Pollack IF. Nonrandomized comparison of neurofibromatosis type 1 and
non-neurofibromatosis type 1 children who received carboplatin and vincristine
for progressive low-grade glioma: A report from the Children's Oncology Group.
Cancer. 2016 Jun 15;122(12):1928-36. doi: 10.1002/cncr.29987. Epub 2016 Apr 8.
PubMed PMID: 27061921; PubMed Central PMCID: PMC4892942.</p>

<p>4: Falsini B, Chiaretti A, Rizzo D, Piccardi M, Ruggiero A, Manni L, Soligo M,
Dickmann A, Federici M, Salerni A, Timelli L, Guglielmi G, Lazzareschi I,
Caldarelli M, Galli-Resta L, Colosimo C, Riccardi R. Nerve growth factor improves
visual loss in childhood optic gliomas: a randomized, double-blind, phase II
clinical trial. Brain. 2016 Feb;139(Pt 2):404-14. doi: 10.1093/brain/awv366. Epub
2016 Jan 14. PubMed PMID: 26767384.</p>

<p>5: de Blank PM, Berman JI, Fisher MJ. Systemic Chemotherapy and White Matter
Integrity in Tracts Associated with Cognition Among Children With
Neurofibromatosis Type 1. Pediatr Blood Cancer. 2016 May;63(5):818-24. doi:
10.1002/pbc.25896. Epub 2016 Jan 12. PubMed PMID: 26757156.</p>

<p>6: Meguins LC, Adry RA, Silva Júnior SC, Pereira CU, Oliveira JG, Morais DF,
Araújo Filho GM, Marques LH. Gross-total resection of temporal low grade gliomas 
is a critically important factor in achieving seizure-freedom. Arq
Neuropsiquiatr. 2015 Nov;73(11):924-8. doi: 10.1590/0004-282X20150141. Epub 2015 
Oct 6. PubMed PMID: 26517215.</p>

<p>7: Fallah A, Weil AG, Sur S, Miller I, Jayakar P, Morrison G, Bhatia S, Ragheb J.
Epilepsy surgery related to pediatric brain tumors: Miami Children's Hospital
experience. J Neurosurg Pediatr. 2015 Dec;16(6):675-80. doi:
10.3171/2015.4.PEDS14476. Epub 2015 Sep 4. PubMed PMID: 26339959.</p>

<p>8: Willard VW, Conklin HM, Wu S, Merchant TE. Prospective longitudinal evaluation
of emotional and behavioral functioning in pediatric patients with low-grade
glioma treated with conformal radiation therapy. J Neurooncol. 2015
Mar;122(1):161-8. doi: 10.1007/s11060-014-1696-7. Epub 2015 Jan 9. PubMed PMID:
25573605; PubMed Central PMCID: PMC4654414.</p>

<p>9: Cappellano AM, Petrilli AS, da Silva NS, Silva FA, Paiva PM, Cavalheiro S,
Bouffet E. Single agent vinorelbine in pediatric patients with progressive optic 
pathway glioma. J Neurooncol. 2015 Jan;121(2):405-12. doi:
10.1007/s11060-014-1652-6. Epub 2014 Nov 1. PubMed PMID: 25366366.</p>

<p>10: Kanazawa K, Matsumoto R, Imamura H, Matsuhashi M, Kikuchi T, Kunieda T,
Mikuni N, Miyamoto S, Takahashi R, Ikeda A. Intracranially recorded ictal direct 
current shifts may precede high frequency oscillations in human epilepsy. Clin
Neurophysiol. 2015 Jan;126(1):47-59. doi: 10.1016/j.clinph.2014.05.028. Epub 2014
Jun 19. PubMed PMID: 25034473.</p>

<p>11: Karajannis MA, Legault G, Fisher MJ, Milla SS, Cohen KJ, Wisoff JH, Harter
DH, Goldberg JD, Hochman T, Merkelson A, Bloom MC, Sievert AJ, Resnick AC, Dhall 
G, Jones DT, Korshunov A, Pfister SM, Eberhart CG, Zagzag D, Allen JC. Phase II
study of sorafenib in children with recurrent or progressive low-grade
astrocytomas. Neuro Oncol. 2014 Oct;16(10):1408-16. doi: 10.1093/neuonc/nou059.
Epub 2014 May 6. PubMed PMID: 24803676; PubMed Central PMCID: PMC4165419.</p>

<p>12: Bandopadhayay P, Bergthold G, London WB, Goumnerova LC, Morales La Madrid A, 
Marcus KJ, Guo D, Ullrich NJ, Robison NJ, Chi SN, Beroukhim R, Kieran MW, Manley 
PE. Long-term outcome of 4,040 children diagnosed with pediatric low-grade
gliomas: an analysis of the Surveillance Epidemiology and End Results (SEER)
database. Pediatr Blood Cancer. 2014 Jul;61(7):1173-9. doi: 10.1002/pbc.24958.
Epub 2014 Jan 30. PubMed PMID: 24482038; PubMed Central PMCID: PMC4657506.</p>

<p>13: Kaloshi G, Rroji A, Petrela M. Upfront chemotherapy with CCNU alone for
adults' low-grade gliomas: a clinical analysis. J Neurooncol. 2014
Apr;117(2):373-4. doi: 10.1007/s11060-014-1383-8. Epub 2014 Jan 29. PubMed PMID: 
24473684.</p>

<p>14: Legault G, Kieran MW, Scott RM, Chordas C, Milla SS, Karajannis MA. Recurrent
ascites in a patient with low-grade astrocytoma and ventriculo-peritoneal shunt
treated with the multikinase inhibitor sorafenib. J Pediatr Hematol Oncol. 2014
Nov;36(8):e533-5. doi: 10.1097/MPH.0000000000000094. PubMed PMID: 24351969.</p>

<p>15: You G, Feng L, Yan W, Zhang W, Wang YZ, Li SW, Li SW, Li GL, Song YJ, Kang
CS, You YP, Jiang T. BCL2A1 is a potential biomarker for postoperative seizure
control in patients with low-grade gliomas. CNS Neurosci Ther. 2013
Nov;19(11):882-8. doi: 10.1111/cns.12148. Epub 2013 Jul 10. PubMed PMID:
23841872; PubMed Central PMCID: PMC6493500.</p>

<p>16: Müller K, Gnekow A, Falkenstein F, Scheiderbauer J, Zwiener I, Pietsch T,
Warmuth-Metz M, Voges J, Nikkhah G, Flentje M, Combs SE, Vordermark D, Kocher M, 
Kortmann RD. Radiotherapy in pediatric pilocytic astrocytomas. A subgroup
analysis within the prospective multicenter study HIT-LGG 1996 by the German
Society of Pediatric Oncology and Hematology (GPOH). Strahlenther Onkol. 2013
Aug;189(8):647-55. doi: 10.1007/s00066-013-0357-7. Epub 2013 Jul 7. PubMed PMID: 
23831852.</p>

<p>17: Yang P, Wang Y, Peng X, You G, Zhang W, Yan W, Bao Z, Wang Y, Qiu X, Jiang T.
Management and survival rates in patients with glioma in China (2004-2010): a
retrospective study from a single-institution. J Neurooncol. 2013
Jun;113(2):259-66. doi: 10.1007/s11060-013-1103-9. Epub 2013 Mar 13. PubMed PMID:
23483435.</p>

<p>18: Maquilan G, Grover S, Alonso-Basanta M, Lustig RA. Acute toxicity profile of 
patients with low-grade gliomas and meningiomas receiving proton therapy. Am J
Clin Oncol. 2014 Oct;37(5):438-43. doi: 10.1097/COC.0b013e31827de86b. PubMed
PMID: 23388559.</p>

<p>19: Netson KL, Conklin HM, Wu S, Xiong X, Merchant TE. Longitudinal investigation
of adaptive functioning following conformal irradiation for pediatric
craniopharyngioma and low-grade glioma. Int J Radiat Oncol Biol Phys. 2013 Apr
1;85(5):1301-6. doi: 10.1016/j.ijrobp.2012.10.031. Epub 2012 Dec 11. PubMed PMID:
23245284; PubMed Central PMCID: PMC3685870.</p>

<p>20: Shaw EG, Wang M, Coons SW, Brachman DG, Buckner JC, Stelzer KJ, Barger GR,
Brown PD, Gilbert MR, Mehta MP. Randomized trial of radiation therapy plus
procarbazine, lomustine, and vincristine chemotherapy for supratentorial adult
low-grade glioma: initial results of RTOG 9802. J Clin Oncol. 2012 Sep
1;30(25):3065-70. doi: 10.1200/JCO.2011.35.8598. Epub 2012 Jul 30. PubMed PMID:
22851558; PubMed Central PMCID: PMC3732006.</p>

<p>21: Ater JL, Zhou T, Holmes E, Mazewski CM, Booth TN, Freyer DR, Lazarus KH,
Packer RJ, Prados M, Sposto R, Vezina G, Wisoff JH, Pollack IF. Randomized study 
of two chemotherapy regimens for treatment of low-grade glioma in young children:
a report from the Children's Oncology Group. J Clin Oncol. 2012 Jul
20;30(21):2641-7. doi: 10.1200/JCO.2011.36.6054. Epub 2012 Jun 4. PubMed PMID:
22665535; PubMed Central PMCID: PMC3413276.</p>

<p>22: Hua C, Wu S, Chemaitilly W, Lukose RC, Merchant TE. Predicting the
probability of abnormal stimulated growth hormone response in children after
radiotherapy for brain tumors. Int J Radiat Oncol Biol Phys. 2012 Nov
15;84(4):990-5. doi: 10.1016/j.ijrobp.2012.01.049. Epub 2012 Apr 6. PubMed PMID: 
22483696; PubMed Central PMCID: PMC3554243.</p>

<p>23: Yalon M, Rood B, MacDonald TJ, McCowage G, Kane R, Constantini S, Packer RJ. 
A feasibility and efficacy study of rapamycin and erlotinib for recurrent
pediatric low-grade glioma (LGG). Pediatr Blood Cancer. 2013 Jan;60(1):71-6. doi:
10.1002/pbc.24142. Epub 2012 Mar 20. PubMed PMID: 22434731.</p>

<p>24: Bouffet E, Jakacki R, Goldman S, Hargrave D, Hawkins C, Shroff M, Hukin J,
Bartels U, Foreman N, Kellie S, Hilden J, Etzl M, Wilson B, Stephens D, Tabori U,
Baruchel S. Phase II study of weekly vinblastine in recurrent or refractory
pediatric low-grade glioma. J Clin Oncol. 2012 Apr 20;30(12):1358-63. doi:
10.1200/JCO.2011.34.5843. Epub 2012 Mar 5. PubMed PMID: 22393086.</p>

<p>25: Yavas C, Zorlu F, Ozyigit G, Gurkaynak M, Yavas G, Yuce D, Cengiz M, Yildiz
F, Akyol F. Prospective assessment of health-related quality of life in patients 
with low-grade glioma: a single-center experience. Support Care Cancer. 2012
Aug;20(8):1859-68. doi: 10.1007/s00520-011-1288-4. Epub 2011 Oct 8. PubMed PMID: 
21979904.</p>

<p>26: Jung TY, Jung S, Moon JH, Kim IY, Moon KS, Jang WY. Early prognostic factors 
related to progression and malignant transformation of low-grade gliomas. Clin
Neurol Neurosurg. 2011 Nov;113(9):752-7. doi: 10.1016/j.clineuro.2011.08.002.
Epub 2011 Sep 1. PubMed PMID: 21889256.</p>

<p>27: Suchorska B, Ruge M, Treuer H, Sturm V, Voges J. Stereotactic brachytherapy
of low-grade cerebral glioma after tumor resection. Neuro Oncol. 2011
Oct;13(10):1133-42. doi: 10.1093/neuonc/nor100. Epub 2011 Aug 25. PubMed PMID:
21868412; PubMed Central PMCID: PMC3177661.</p>

<p>28: Turaka K, Shields CL, Meadows AT, Leahey A. Second malignant neoplasms
following chemoreduction with carboplatin, etoposide, and vincristine in 245
patients with intraocular retinoblastoma. Pediatr Blood Cancer. 2012 Jul
15;59(1):121-5. doi: 10.1002/pbc.23278. Epub 2011 Aug 8. PubMed PMID: 21826785.</p>

<p>29: Jakacki RI, Bouffet E, Adamson PC, Pollack IF, Ingle AM, Voss SD, Blaney SM. 
A phase 1 study of vinblastine in combination with carboplatin for children with 
low-grade gliomas: a Children's Oncology Group phase 1 consortium study. Neuro
Oncol. 2011 Aug;13(8):910-5. doi: 10.1093/neuonc/nor090. Epub 2011 Jul 15. PubMed
PMID: 21764821; PubMed Central PMCID: PMC3145477.</p>

<p>30: Scheinemann K, Bartels U, Tsangaris E, Hawkins C, Huang A, Dirks P, Fried I, 
Bouffet E, Tabori U. Feasibility and efficacy of repeated chemotherapy for
progressive pediatric low-grade gliomas. Pediatr Blood Cancer. 2011 Jul
15;57(1):84-8. doi: 10.1002/pbc.22917. Epub 2010 Dec 1. PubMed PMID: 21557457.</p>

<p>31: Daniels TB, Brown PD, Felten SJ, Wu W, Buckner JC, Arusell RM, Curran WJ,
Abrams RA, Schiff D, Shaw EG. Validation of EORTC prognostic factors for adults
with low-grade glioma: a report using intergroup 86-72-51. Int J Radiat Oncol
Biol Phys. 2011 Sep 1;81(1):218-24. doi: 10.1016/j.ijrobp.2010.05.003. Epub 2011 
May 5. PubMed PMID: 21549518; PubMed Central PMCID: PMC3151343.</p>

<p>32: Englot DJ, Berger MS, Barbaro NM, Chang EF. Predictors of seizure freedom
after resection of supratentorial low-grade gliomas. A review. J Neurosurg. 2011 
Aug;115(2):240-4. doi: 10.3171/2011.3.JNS1153. Epub 2011 Apr 29. Review. PubMed
PMID: 21529134.</p>

<p>33: Falsini B, Chiaretti A, Barone G, Piccardi M, Pierri F, Colosimo C,
Lazzareschi I, Ruggiero A, Parisi V, Fadda A, Balestrazzi E, Riccardi R. Topical 
nerve growth factor as a visual rescue strategy in pediatric optic gliomas: a
pilot study including electrophysiology. Neurorehabil Neural Repair. 2011
Jul-Aug;25(6):512-20. doi: 10.1177/1545968310397201. Epub 2011 Mar 26. PubMed
PMID: 21444653.</p>

<p>34: Wisoff JH, Sanford RA, Heier LA, Sposto R, Burger PC, Yates AJ, Holmes EJ,
Kun LE. Primary neurosurgery for pediatric low-grade gliomas: a prospective
multi-institutional study from the Children's Oncology Group. Neurosurgery. 2011 
Jun;68(6):1548-54; discussion 1554-5. doi: 10.1227/NEU.0b013e318214a66e. PubMed
PMID: 21368693.</p>

<p>35: Warren KE, Goldman S, Pollack IF, Fangusaro J, Schaiquevich P, Stewart CF,
Wallace D, Blaney SM, Packer R, Macdonald T, Jakacki R, Boyett JM, Kun LE. Phase 
I trial of lenalidomide in pediatric patients with recurrent, refractory, or
progressive primary CNS tumors: Pediatric Brain Tumor Consortium study PBTC-018. 
J Clin Oncol. 2011 Jan 20;29(3):324-9. doi: 10.1200/JCO.2010.31.3601. Epub 2010
Dec 13. PubMed PMID: 21149652; PubMed Central PMCID: PMC3056466.</p>

<p>36: Beaty O 3rd, Berg S, Blaney S, Malogolowkin M, Krailo M, Knight R,
Schaiquevich P, Stewart C, Chen Z, Nelson M, Voss S, Ivy SP, Adamson PC. A phase 
II trial and pharmacokinetic study of oxaliplatin in children with refractory
solid tumors: a Children's Oncology Group study. Pediatr Blood Cancer. 2010
Sep;55(3):440-5. doi: 10.1002/pbc.22544. PubMed PMID: 20658614; PubMed Central
PMCID: PMC4665115.</p>

<p>37: Moreno L, Bautista F, Ashley S, Duncan C, Zacharoulis S. Does chemotherapy
affect the visual outcome in children with optic pathway glioma? A systematic
review of the evidence. Eur J Cancer. 2010 Aug;46(12):2253-9. doi:
10.1016/j.ejca.2010.03.028. Epub 2010 Apr 17. Review. PubMed PMID: 20400294.</p>

<p>38: Hernáiz Driever P, von Hornstein S, Pietsch T, Kortmann R, Warmuth-Metz M,
Emser A, Gnekow AK. Natural history and management of low-grade glioma in NF-1
children. J Neurooncol. 2010 Nov;100(2):199-207. doi: 10.1007/s11060-010-0159-z. 
Epub 2010 Mar 30. PubMed PMID: 20352473.</p>

<p>39: Mishra KK, Squire S, Lamborn K, Banerjee A, Gupta N, Wara WM, Prados MD,
Berger MS, Haas-Kogan DA. Phase II TPDCV protocol for pediatric low-grade
hypothalamic/chiasmatic gliomas: 15-year update. J Neurooncol. 2010
Oct;100(1):121-7. doi: 10.1007/s11060-010-0151-7. Epub 2010 Mar 11. PubMed PMID: 
20221671; PubMed Central PMCID: PMC2951507.</p>

<p>40: Massimino M, Spreafico F, Riva D, Biassoni V, Poggi G, Solero C, Gandola L,
Genitori L, Modena P, Simonetti F, Potepan P, Casanova M, Meazza C, Clerici CA,
Catania S, Sardi I, Giangaspero F. A lower-dose, lower-toxicity
cisplatin-etoposide regimen for childhood progressive low-grade glioma. J
Neurooncol. 2010 Oct;100(1):65-71. doi: 10.1007/s11060-010-0136-6. Epub 2010 Feb </p>

<ol>
<li>PubMed PMID: 20151174.</li>
</ol>

<p>41: Tsai MH, Wong AM, Jaing TH, Wang HS, Hsueh C, Wu CT. Treatment of
cerebellopontine angle tumors in children: a single institution's experience. J
Pediatr Hematol Oncol. 2009 Nov;31(11):832-4. doi: 10.1097/MPH.0b013e3181acd842. 
PubMed PMID: 19636269.</p>

<p>42: Merchant TE, Kun LE, Wu S, Xiong X, Sanford RA, Boop FA. Phase II trial of
conformal radiation therapy for pediatric low-grade glioma. J Clin Oncol. 2009
Aug 1;27(22):3598-604. doi: 10.1200/JCO.2008.20.9494. Epub 2009 Jul 6. PubMed
PMID: 19581536; PubMed Central PMCID: PMC3525947.</p>

<p>43: Merchant TE, Conklin HM, Wu S, Lustig RH, Xiong X. Late effects of conformal 
radiation therapy for pediatric patients with low-grade glioma: prospective
evaluation of cognitive, endocrine, and hearing deficits. J Clin Oncol. 2009 Aug 
1;27(22):3691-7. doi: 10.1200/JCO.2008.21.2738. Epub 2009 Jul 6. PubMed PMID:
19581535; PubMed Central PMCID: PMC2799064.</p>

<p>44: Shaw EG, Berkey B, Coons SW, Bullard D, Brachman D, Buckner JC, Stelzer KJ,
Barger GR, Brown PD, Gilbert MR, Mehta M. Recurrence following
neurosurgeon-determined gross-total resection of adult supratentorial low-grade
glioma: results of a prospective clinical trial. J Neurosurg. 2008
Nov;109(5):835-41. doi: 10.3171/JNS/2008/109/11/0835. PubMed PMID: 18976072;
PubMed Central PMCID: PMC3833272.</p>

<p>45: Jalali R, Dutta D, Kamble R, Gupta T, Munshi A, Sarin R, Dinshaw K.
Prospective assessment of activities of daily living using modified Barthel's
Index in children and young adults with low-grade gliomas treated with
stereotactic conformal radiotherapy. J Neurooncol. 2008 Dec;90(3):321-8. doi:
10.1007/s11060-008-9666-6. Epub 2008 Aug 14. PubMed PMID: 18704269.</p>

<p>46: Wentworth S, Pinn M, Bourland JD, Deguzman AF, Ekstrand K, Ellis TL, Glazier 
SS, McMullen KP, Munley M, Stieber VW, Tatter SB, Shaw EG. Clinical experience
with radiation therapy in the management of neurofibromatosis-associated central 
nervous system tumors. Int J Radiat Oncol Biol Phys. 2009 Jan 1;73(1):208-13.
doi: 10.1016/j.ijrobp.2008.03.073. Epub 2008 Aug 5. PubMed PMID: 18687535.</p>

<p>47: Combs SE, Bischof M, Welzel T, Hof H, Oertel S, Debus J, Schulz-Ertner D.
Radiochemotherapy with temozolomide as re-irradiation using high precision
fractionated stereotactic radiotherapy (FSRT) in patients with recurrent gliomas.
J Neurooncol. 2008 Sep;89(2):205-10. doi: 10.1007/s11060-008-9607-4. Epub 2008
May 7. PubMed PMID: 18461281.</p>

<p>48: Bruggers CS, Greene D. A phase 2 feasibility study of sequential, dose
intensive chemotherapy to treat progressive low-grade gliomas in children. J
Pediatr Hematol Oncol. 2007 Sep;29(9):602-7. PubMed PMID: 17805033.</p>

<p>49: Ishikawa E, Tsuboi K, Yamamoto T, Muroi A, Takano S, Enomoto T, Matsumura A, 
Ohno T. Clinical trial of autologous formalin-fixed tumor vaccine for
glioblastoma multiforme patients. Cancer Sci. 2007 Aug;98(8):1226-33. Epub 2007
May 22. PubMed PMID: 17517052.</p>

<p>O resultado da reprodução da estratégia de busca utilizada originalmente há 2 anos atrás não é idêntico ao resultado original! Usando quaisquer dos métodos descritos, o resultado mostra diferenças. No resultado original, temos 54 artigos, sendo o primeiro o de Ater <em>et al</em> (2016). No resultado da reprodução atual, temos 49 artigos, sendo o primeiro o de Patel <em>et al</em> (2017). Por que as diferenças? Embora eu não tenha uma resposta objetiva para esta pergunta, minha hipótese é que mudanças na máquina de busca do Pubmed nos últimos 2 anos originaram esta inconsistência. A diferença entre os dois resultados não é enorme, porém é significante. A busca de 2017 tem 8 resultados a mais e 2 a menos, num total de 10 resultados diferentes (18,5\% da busca de 2017 e 20,4\% da busca de 2019). Pode ser argumentado que os resultados diferentes entre as buscas não interferiram com o seu objetivo, e isso é parcialmente verdade: apenas 1 dos 10 resultados modificados teria impacto no objetivo da minha busca (de acordo com uma avaliação pessoal). </p>

<p>Alterações no mecanismo de busca de máquinas de pesquisa da internet devem ser levadas em consideração quando pensamos em relatar as estratégias de busca em publicações científicas.</p>
