<footer>
Powered by <a href="http://estrabd.github.io/vee/">vee</a> - Copyright &copy; 2006-2016
<br>with responsive Theme by <a href="https://fhcflx.gitlab.io/">fhcflx</a> using Twitter Bootstrap.
</footer>
</body>
</html>
