<!-- <?xml version="1.0" encoding="UTF-8" ?> -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-82103164-2', 'auto');
  ga('send', 'pageview');
</script>
    <head>
        <meta http-equiv="Content-Type" CONTENT="text/html; charset=UTF-8">
        <title>tac | Título</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
<body class="container">
    <header>
    <nav>
      <a href="../sobre/index.html">[sobre]</a><a href="../index.html">[principal]</a>
    </nav>
    </header>
