
<!-- <?xml version="1.0" encoding="UTF-8" ?> -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-82103164-2', 'auto');
  ga('send', 'pageview');
</script>
    <head>
        <meta http-equiv="Content-Type" CONTENT="text/html; charset=UTF-8">
        <title>tac | Título</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
<body class="container">
    <header>
    <nav>
      <a href="../sobre/index.html">[sobre]</a><a href="../index.html">[principal]</a>
    </nav>
    </header>

<h2>Um fluxo de trabalho para a ciência clínica aberta</h2>

<h3>dom, 09 de out de 2016 18:03:49</h3>

--
</br>
<p>Neste ponto, podemos esboçar um fluxo de trabalho para o caderno de ciência clínica aberta. Esse fluxo de trabalho não se destina a todos e não deve substituir qualquer rotina de tarefas estabelecida, a menos que este esteja de acordo com os objetivos de quem lê. Este é um exemplo, não uma receita.</p>

<p>Primeiro, a escrita de notas experimentais, observações pessoais, discussões em equipe, sessões criativas, consensos, pesquisa bibliográfica, opiniões de autoridades, pareceres de especialistas convidados, resultados tabulados, cálculos estatísticos, escritos acadêmicos preliminares, fragmentos de pré-publicações, rascunhos de documentos, essencialmente, qualquer pedaço de conteúdo de texto, mesmo manifestos de ativos e listas de compras. Qualquer produção textual deve ser escrita em linguagem simples, ASCII ou texto não formatado equivalente. Formatos de arquivo para gravar podem ser desde .txt até <a href="https://daringfireball.net/projects/markdown/">Markdown</a> (.md ou .markdown) ou qualquer equivalente. Os dados devem ser rigorosamente <a href="{{site.github.url}}/de-identification/">desidentificados</a>, e medidas adicionais devem ser tomadas para evitar a re-identificação secundária. Se é preciso manter registros identificados (como é frequentemente o caso), eles devem ser mantidos de forma tradicional, em condições de segurança.</p>

<p>Em segundo lugar, incorporar o texto simples em um modelo escrito em <a href="https://guides.github.com/features/mastering-markdown/">GitHub Flavored Markdown (GFM)</a>, como este. O uso particular de GFM sobre outras variantes de Markdown é porque nós usamos o <a href="https://pages.github.com">GitHub Pages</a> para publicar na internet. GitHub Pages torna o texto Markdown em HTML via <a href="https://jekyllrb.com">Jekyll</a> (ver a sua <a href="https://help.github.com/articles/using-jekyll-as-a-static-site-generator-with-github-pages/">documentação</a>). Há um passo extra para scripts de análise estatística escritos em <a href="https://www.r-project.org">linguagem de programação R</a>. Eles devem ser inseridos em arquivos de formato .Rmd. Esses arquivos podem ser facilmente transcritos em formato Markdown usando os pacotes <a href="http://yihui.name/knitr/"><em>knitr</em></a> e <a href="https://github.com/yihui/servr"><em>servr</em></a> de R. E tudo termina em um arquivo de formato Markdown pronto para ser transformado em HTML pelo Jekyll. O arquivo em GFM deve ter pelo menos uma seção <a href="http://yaml.org">YAML</a> (<em>front matter</em>). Padronizamos o modelo de <a href="https://jekyllrb.com/docs/frontmatter/"><em>front matter</em></a> YAML como o que existe neste documento. O nosso tem <em>tags</em> e <em>categories</em>, <a href="https://www.doi.org/factsheets/Identifier_Interoper.html">doi</a>, permalink, lang e ref (para suporte multilíngue), título (<em>title</em>), comentários (<em>comments</em>) e variáveis ​​de layout.</p>

<p>Em terceiro lugar, implementar diretamente o arquivo no <a href="https://github.com">GitHub</a> (em um repositório adequado criado anteriormente para isso) e o GitHub Pages vai cuidar do resto (publicar na web). Recomenda-se que esta etapa seja feita localmente antes da publicação na internet, para detectar e corrigir eventuais erros no código usado antes de publicar a versão final. Para garantir a transparência, controle e reprodutibilidade, foi instalado localmente o <a href="https://git-scm.com">Git</a> (um software de controle de versões) e Jekyll (um interpretador versátil de Markdown para HTML). Além disso, instalamos <em>plugins</em> do Jekyll para permitir a integração com o Twitter (<a href="https://github.com/rob-murray/jekyll-twitter-plugin">jekyll-twitter-plugin</a>), comentários via <a href="https://help.disqus.com/customer/portal/articles/472138-jekyll-installation-instructions">Disqus</a>, suporte <a href="https://www.sylvaindurand.org/making-jekyll-multilingual/">multilíngue</a>. Nada disso é realmente indispensável. No entanto, servir localmente com Jekyll é uma boa ideia para evitar erros antes da implementação final.</p>

<p>Em quarto lugar, depositar os arquivos importantes (.RMmd, Markdown) no <a href="http://www.figshare.com">figshare</a> e publicar o conjunto de dados publicamente, obtendo um número DOI para facilitar a citação acadêmica, rastreabilidade e persistência na internet. Este parece ser um passo menor, mas é importante para divulgar o seu trabalho. A integração social e implementação de coemntários são a maneira de interagir com a comunidade científica. Afinal, esta é a principal motivação para a <a href="http://openscience.com">ciência aberta</a>.</p>

<p>Não fica mais complicado do que isso. Na verdade, é bastante simples e direto. Markdown é um formato de marcação simples e muito útil que permite escrever em texto simples. Jekyll cuida de interpretá-lo para o formato HTML, para que ele possa ser implementado. Knitr e servr podem analisar pedaços de código R escritos em um arquivo .Rmd e escrever um arquivo Markdown pronto para ser analisado pelo Jekyll. Isto assegura a reprodutibilidade dos resultados e análise estatística. Git pode controlarde forma segura a versão do processo, de modo que cada passo está bem documentado e pode ser facilmente rastreado. GitHub Pages serve os arquivos HTML criados pelo Jekyll em um site estático amigável. E a integração social é alcançada através de <em>plugins</em>.</p>

<p>Esse fluxo de trabalho simples não precisa de treinamento ou recursos especiais. Essencialmente, ele pode ser mantido na forma de uma operação de um homem só, com qualidade e adequação académica e impacto. Não há realmente nenhuma limitação para a sua utilização generalizada como uma ferramenta de pesquisa clínica. Em VALQUIRIA, já publiquei com sucesso dados de pacientes individuais desidentificados (incluindo <a href="{{site.github.url}}/image-analysis/">imagens médicas</a>), <a href="{{site.github.url}}/standard-treatment/">material licenciado</a> sem quaisquer violações legais, postagens em formato acadêmico e uma rotina para a investigação clínica aberta. Tudo isso foi feito em 2-3 meses (contando a curva de aprendizagem) por apenas uma pessoa com o mínimo de recursos.</p>

<p>Em conclusão, na era do compartilhamento de internet fácil e multi-canal, só há uma coisa que nos separa da pesquisa clínica aberta em tempo real e bem sucedida: a vontade de fazê-lo.</p>

<h3 id="referncias">Referências:</h3>

<ul>
<li><a href="https://daringfireball.net/projects/markdown/">Daring Fireball: Markdown</a></li>

<li><a href="{{site.github.url}}/de-identification/">VALKYRIE - De-identification - anonymization</a></li>

<li><a href="https://guides.github.com/features/mastering-markdown/">Mastering Markdown</a></li>

<li><a href="https://pages.github.com">GitHub Pages - Websites for you and your projects</a></li>

<li><a href="https://jekyllrb.com">Jekyll - Transform your plain text into static websites and blogs</a></li>

<li><a href="https://help.github.com/articles/using-jekyll-as-a-static-site-generator-with-github-pages/">Using Jekyll as a static site generator with GitHub Pages</a></li>

<li><a href="https://www.r-project.org">The R Project for Statistical Computing</a></li>

<li><a href="http://yihui.name/knitr/">knitr - Elegant, flexible and fast dynamic report generation with R</a></li>

<li><a href="https://github.com/yihui/servr">servr - A simple HTTP server to serve files under a given directory based on the httpuv package</a></li>

<li><a href="http://yaml.org">YAML 1.2</a></li>

<li><a href="https://jekyllrb.com/docs/frontmatter/">Jekyll - Front Matter</a></li>

<li><a href="https://www.doi.org/factsheets/Identifier_Interoper.html">doi - Identifier inteoperability</a></li>

<li><a href="https://github.com">GitHub Inc.</a></li>

<li><a href="https://git-scm.com">Git</a></li>

<li><a href="https://github.com/rob-murray/jekyll-twitter-plugin">jekyll-twitter-plugin - A Liquid tag plugin for Jekyll that renders Tweets from Twitter API</a></li>

<li><a href="https://help.disqus.com/customer/portal/articles/472138-jekyll-installation-instructions">Disqus - Jekyll Installation Instrunctions</a></li>

<li><a href="https://www.sylvaindurand.org/making-jekyll-multilingual/">Making Jekyll multilingual</a></li>

<li><a href="http://www.figshare.com">Figshare</a></li>

<li><a href="http://openscience.com">Open Science: Your guide to Open Access publishing and Open Science</a></li>

<li><a href="{{site.github.url}}/image-analysis/">VALKYRIE - Analysis of images</a></li>

<li><a href="{{site.github.url}}/standard-treatment/">VALKYRIE - Standard treatment for brain tumor patients</a></li>
</ul>

--

<footer>
Powered by <a href="http://estrabd.github.io/vee/">vee</a> - Copyright &copy; 2006-2016
<br>with responsive Theme by <a href="https://fhcflx.gitlab.io/">fhcflx</a> using Twitter Bootstrap.
</footer>
</body>
</html>
